extends ../layout

block content
  h1.visually-hidden &Rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy; &pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&yacy;
  section
    .popup.popup--registration.popup--anti
      a.popup__button.button.button--popup-close(aria-label='Закрыть окно')
        | &Zcy;&acy;&kcy;&rcy;&ycy;&tcy;&softcy;
        | &ocy;&kcy;&ncy;&ocy;
      h2.popup__title &Rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy;
      .popup__form.popup__form--active.form.form--register
        form(action='' method='post' enctype='multipart/form-data')
          .form__field
            label
              input(type='email' name='email' placeholder='Электронная почта' value=user ? user.email:'')
          .form__field
            label
              input(type='text' name='firstName' placeholder='Имя' value=user ? user.firstName:'')
          .form__field
            label
              input(type='text' name='lastName' placeholder='Фамилия' value=user ? user.lastName:'')
          .form__field
            label
              input(type='password' name='password' placeholder='Пароль' required='' value=user ? user.email:'')
          .form__field
            label
              input(type='password' name='repeatPassword' placeholder='Повтор пароля' required='')
          if errorMessages
            .form__validation-error
              p.form__error-message &Pcy;&rcy;&icy; &rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&icy; &pcy;&rcy;&ocy;&icy;&zcy;&ocy;&shcy;&lcy;&icy; &ocy;&shcy;&icy;&bcy;&kcy;&icy;:

              ul.form__errors
                each msg in errorMessages
                  li.form__error #{msg}
          .form__image-loader
            a.form__avatar.avatar
              img(src='../src/express/public/img/icons/smile.svg' alt='аватар пользователя')
            label
              input.visually-hidden(type='file' name='avatar')
              | &Zcy;&acy;&gcy;&rcy;&ucy;&zcy;&icy;&tcy;&softcy; &fcy;&ocy;&tcy;&ocy; &pcy;&rcy;&ocy;&fcy;&icy;&lcy;&yacy;
          button.form__submit-btn.form__submit-btn--register.button.button--colored(type='submit') &Zcy;&acy;&rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy;&scy;&yacy;
