extends ../layout
include ../mixins/paginator
include ../mixins/announce

block content
  h1.visually-hidden &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy; &scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &lcy;&icy;&chcy;&ncy;&ocy;&gcy;&ocy; &bcy;&lcy;&ocy;&gcy;&acy; &Tcy;&icy;&pcy;&ocy;&tcy;&iecy;&kcy;&acy;
  p
    | &Ecy;&tcy;&ocy; &pcy;&rcy;&icy;&vcy;&iecy;&tcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ycy;&jcy; &tcy;&iecy;&kcy;&scy;&tcy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&jcy; &vcy;&lcy;&acy;&dcy;&iecy;&lcy;&iecy;&tscy; &bcy;&lcy;&ocy;&gcy;&acy; &mcy;&ocy;&zhcy;&iecy;&tcy; &vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy;, &chcy;&tcy;&ocy;&bcy;&ycy; &ocy;&pcy;&icy;&scy;&acy;&tcy;&softcy; &scy;&iecy;&bcy;&yacy; &#x1F44F;
  section.main-page__theme-list
    h2.visually-hidden &Scy;&pcy;&icy;&scy;&ocy;&kcy; &tcy;&iecy;&mcy;
    ul.themes
      each category in categories
        li.themes__item
          a.themes__item-link(href='/category/' + category.id class=currentCategory === category.id ? 'themes__item-link--active': false)
            | #{category.name}
            sup #{category.publications.length}
  .main-page__section-flex
    section.main-page__hot.hot
      h2.hot__name
        | &Scy;&acy;&mcy;&ocy;&iecy; &ocy;&bcy;&scy;&ucy;&zhcy;&dcy;&acy;&iecy;&mcy;&ocy;&iecy;
        span.hot__icon.hot__icon--fire
      if hotArticles.length > 0
        ul.hot__list
          each hotArticle in hotArticles
            li.hot__list-item
              a.hot__list-link(href='/articles/' + hotArticle.id)
                +announce(hotArticle.announce)
                sup.hot__link-sup #{hotArticle.comments.length}
      else
        p Здесь пока ничего нет...
    section.main-page__last.last
      h2.last__name
        | &Pcy;&ocy;&scy;&lcy;&iecy;&dcy;&ncy;&icy;&iecy; &kcy;&ocy;&mcy;&mcy;&iecy;&ncy;&tcy;&acy;&rcy;&icy;&icy;
        span.last__icon.last__icon--cloud
      ul.last__list
        each comment in comments
          li.last__list-item
            img.last__list-image(src='/img/avatar-small-1.png' width='20' height='20' alt='Аватар пользователя')
            b.last__list-name #{comment.User.firstName} #{comment.User.lastName}
            a.last__list-link(href='/articles/' + comment.publicationId)
              +announce(comment.message)
  if articles.length > 0
    section.main-page__list.preview
      h2.visually-hidden &Scy;&pcy;&icy;&scy;&ocy;&kcy; &pcy;&rcy;&iecy;&vcy;&softcy;&yucy; &scy;&tcy;&acy;&tcy;&iecy;&jcy;
      ul.preview__list
        each article in articles
          li.preview__item
            ul.preview__breadcrumbs
              if article.categories
                each category in article.categories
                  li.preview__breadcrumbs-item
                    a.preview__breadcrumbs-link(href='#') #{category.name}
            if article.preview
              .preview__background
                img.preview__background-image(src='/img/'+article.preview width='460' height='240' alt=article.title)
            time.preview__time(datetime='#{article.createDate}') #{article.createDate}
            h3.preview__name
              a.preview__name-link(href='/articles/'+article.id) #{article.title}
            p.preview__text #{article.announce}
            if article.comments
              a.preview__comment(href='#')
                | &Kcy;&ocy;&mcy;&mcy;&iecy;&ncy;&tcy;&acy;&rcy;&icy;&icy;
                span.preview__cloud
                b.preview__comment-count #{article.comments.length}
    +pagination(page, totalPages, 2, `?`)
  else
    .main-page__empty-wrapper
      p.main-page__empty-text Здесь пока пусто!

