extends ../layout

block content
  section.main-page__publication.publication
    h1.publication__title &Kcy;&ocy;&mcy;&mcy;&iecy;&ncy;&tcy;&acy;&rcy;&icy;&icy;
    ul.publication__list
      each comment in comments
        li.publication__list-item
          .publication__header
            -
              const date = new Date(comment.createdAt);
            img.publication__list-image(src='/img/'+comment.User.avatar width='20' height='20' alt=comment.User.firstName)
            b.publication__list-name #{comment.User.firstName} #{comment.User.lastName}
            time.publication__item-time(datetime='#{comment.date.toISOString()}') #{date.toLocaleDateString()} #{date.toLocaleTimeString()}
          a.publication__item-text(href='/articles/'+comment.publicationId) #{comment.Publication.title}
          p.publication__text-strong #{comment.message}
          button.publication__button.button.button--close-item(type='button')
            span.visually-hidden &Zcy;&acy;&kcy;&rcy;&ycy;&tcy;&softcy; &scy;&tcy;&rcy;&ocy;&kcy;&ucy; &scy;&pcy;&icy;&scy;&kcy;&acy;

